<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crypter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
    </head>
    <body class="center-text bg-dark fg-light">
        <h1>Crypter</h1>
        <div class="flexbox">
            <div class="margin-5 padding-5 border-light">
                <h2>Upload</h2>
                <div>
                    <form id='upload' method=post action='/file/upload' enctype=multipart/form-data>
                        <input id="fileSelect" type="file" name="files"/>
                        <div style="clear: both;"></div>

                        <label class="float-left adjust-label-position" for="key">Encrypt Key</label>
                        <input id="encryptKey" class="float-right" type="text" name="key"/>
                        <div style="clear: both;"></div>

                        <input class="float-right" type=submit value=Upload>
                    </form>
                </div>
                <div id="file-details-container" class="left-text">
                    <p id="uploadFileName"></p>
                    <p id="uploadFileType"></p>
                    <p id="uploadFileSize"></p>
                </div>
            </div>
            <div class="margin-5 padding-5 border-light">
                <h2>Download</h2>
                <div>
                    <form id='download' method=post action='/file/download'>
                        <label class="float-left adjust-label-position" for="fileId">File ID</label>
                        <input class="float-right" type="text" name="fileId"/>
                        <div style="clear: both;"></div>

                        <label class="float-left adjust-label-position" for="key">Decrypt Key</label>
                        <input class="float-right" type="text" name="key"/>
                        <div style="clear: both;"></div>

                        <input class="float-right" type=submit value=Download>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <h2>Available Space</h2>
            <div id="storageBar">
                <div style="width:{{percentDiskRemaining}}%;">
                    <span class="storageBarText">{{ bytesDiskRemaining }} / {{ bytesDiskAllocated }}</span>
                </div>
            </div>
        </div>
    </body>
</html>